* {
  font-family: "Noto Sans KR", sans-serif;
}
body {
  color: black;
}

.boxPadding {
  padding-left: 220px;
}
.button-submit {
  margin-top: 10px;
}
#review {
  position: relative;
  background: #66b2ff;
  border-radius: 0.4em;
  padding: 10px;
}
#review:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-right-color: #66b2ff;
  border-left: 0;
  border-top: 0;
  margin-top: -10px;
  margin-left: -20px;
}
a:hover {
  text-decoration: none;
}
#movie-today {
  margin: 20px;
}
#movie-today h2 {
  font-size: 24px;
}
.title {
  font-family: "Abril Fatface", cursive;
  font-weight: 800;
}
.recommend-title {
  width: 100%;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  min-height: 100%;
}

.card-main {
  text-align: center;
  margin: 20px;
  padding: 10px;
}

.card-title {
  font-size: 1.2rem !important;
}

.movie-card {
  width: fit-content !important;
  box-shadow: none !important;
}

.card-mg {
  margin: 0 !important;
}

.header-logo {
  width: 80px;
  height: 80px;
}

#movie-recommend {
  width: 100%;
  height: auto;
  text-align: center;
  justify-content: center;
  margin: 20px;
}
#movie-recommend-title {
  margin: 20px;
}

.movie-recommend-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.feeling {
  width: 100%;
  height: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.headline {
  margin-bottom: 20px;
}

.headline h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

.headline h4 {
  color: grey;
}

.button-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

.btn-main {
  font-size: 30px;
  width: 220px;
  padding: 18px 24px;
  margin: 20px;
  border-radius: 30px;
}

.movie-card-head {
  padding: 10px;
  align-items: center;
}

#movie-list,
#movie-list-all {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px;
}

#movie {
  padding: 10px;
}

.infor h3 strong {
  font-size: 15px;
}

.nav-item {
  font-size: 20px;
  margin: 0 10px;
}

input:hover {
  cursor: default;
}

#movie_detail {
  width: 100%;
}

.content {
  min-height: 100%;
}

.detail {
  min-height: 100px;
  margin-top: 15px;
  padding: 15px;
  margin: 20px;
}

.footer {
  left: 0;
  bottom: 0;
  position: relative;
}

.box-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.poster {
  width: 82%;
}

.movie-top {
  box-sizing: border-box;
  border-radius: 30px;
  margin: auto;
  text-align: center;
  padding: 10px;
}

.movie-top img {
  box-sizing: border-box;
  border-radius: 12px;
  transition: all 0.2s linear;
}

.movie-top:hover img {
  transform: scale(1.05);
}

.movie-btm {
  text-align: center;
  margin-bottom: 20px;
}

.movie-btm span {
  font-weight: bold;
  font-size: 12px;
}

.navbar-item {
  text-align: center;
}

#movie-controls {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#movie-sort-buttons {
  display: flex;
  align-items: center;
  margin: 20px 50px;
}
