body{
    color: black;
}

header{
    width: 100%;
    height: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../images/header.jpg);
    /* background-image: url(../images/header-img.png); */
    /* background-size: cover; */

}

header h1{
    color: white;
    font-weight: 900;
    margin: 40px;
}

main{
    /* height: 800px; */
    min-height: 400px;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer{
    height: 80px;
    background-color: black;
}

#movie-recommend{
    width: 100%;
    height: 200px;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-size: contain;
    background-image: url("http://img.movist.com/?img=/x00/05/39/50_p1.jpg");
    /* background-size: cover;     */
}


.feeling{
    width: 100%;
    height: 600px;
    /* height: 60%; */
    text-align: center;
    display: flex;
    flex-direction: column;
    margin: 30px auto;
}

.feeling h1{
    margin-bottom: 40px;
}

.button-container{
    display: flex;
    justify-content: center;
    /* width: 80%; */
    margin: 0 auto;
    /* align-self: center; */
}

.btn-main{
    font-size: 30px;
    width: 220px;
    padding: 18px 24px;
    margin:20px;
    border-radius: 30px;
}

#movie-list{
    /* display: none; */
    width:100%;
    /* height: 650px; */
    display: flex;
    flex-wrap: wrap;
    background-color: bisque;
    /* margin: 0 auto; */
    justify-content: center;
    /* height: 100%; */
    
}

.movie-card{
    width: 160px;
    height: 300px;
    background-color: black;
    margin: 50px;
}
