<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="./static/images/favicon.ico" />
    <meta property="og:title" content="웅플릭스" />
    <meta property="og:description" content="영화 추천 사이트" />
    <meta
      property="og:image"
      content="{{ url_for('static', filename='images/ogimg.jpg') }}"
    />
    {% block head %}

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />

    <!-- css custom -->
    <link rel="stylesheet" href="/static/css/style.css" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap"
      rel="stylesheet"
    />

    {% block scripts %}

    <!-- jquery -->
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>

    <!-- fontawesome -->
    <script
      src="https://kit.fontawesome.com/0e44858519.js"
      crossorigin="anonymous"
    ></script>

    {% endblock %}

    <title>웅플릭스</title>

    {% endblock %}
  </head>

  <body>
    <header>
      <nav
        class="navbar is-transparent"
        role="navigation"
        aria-label="main navigation"
      >
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <img src="./static/images/logo.png" width="122" />
          </a>

          <a
            role="button"
            class="navbar-burger"
            aria-label="menu"
            aria-expanded="false"
            data-target="navbarBasic"
          >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>

        <div id="navbarBasic" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" href="/"> Home </a>
            <a class="navbar-item" href="/movies"> Movies </a>
          </div>

          <div class="navbar-end">
            {% if session['username'] %}
            <div class="navbar-item">
              <h2>{{session["username"]}} 님, 환영합니다.</h2>
            </div>
            <div class="navbar-item">
              <div class="buttons">
                <a class="button is-light" href="/logout"> Log out </a>
              </div>
            </div>
            {% else %}
            <div class="navbar-item">
              <div class="buttons">
                <a class="button is-link" href="/register">
                  <strong>Sign up</strong>
                </a>
                <a class="button is-light" href="/login"> Log in </a>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <div class="container">
      <main>{% block main %}{% endblock %}</main>
    </div>

    <footer class="footer">
      <div class="content has-text-centered">
        <p>
          <strong>Making Challenge Project</strong> by 플릭스하고싶조
          <br /><br />

          Thanks to <a href="https://spartacodingclub.kr/">스파르타 코딩클럽</a>
        </p>
      </div>
    </footer>
  </body>
</html>
