{% extends "base.html" %} {% block main %}

<div id="movie_detail" class="content is-medium"></div>

    <table class="table">
  <thead>
    <tr>
      <th><abbr title="Position">번호</abbr></th>
      <th>ID</th>
      <th>review</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>ID1</td>
      <td>review1</td>
    </tr>
  </tbody>
</table>

    <textarea class="textarea" placeholder="리뷰를 남겨주세요."></textarea>
    <button class="button">Submit</button>

<!-- custom script -->
{% block javascript %}
<script src="./static/scripts/detail.js"></script>
{% endblock %} {% endblock %}
