{% extends "base.html" %} {% block main %}
<style>
  .container {
          margin: 50px auto auto auto
        }

        .row {
          border-style: solid hidden solid hidden;
          padding: 10px;
        }
</style>
<div class="container">
  <div class="row">
    <div class="col">
      <input type="image" src="abouttime.jpeg" width="202" height="290" style="float: right">
    </div>
    <div class="col">
      <h1>about Time</h1>
      <p>영화 보러가기</p>
      <p>장르: 로맨틱코미디</p>
      <p>⭐️평점 9.30</p>
      <p>줄거리</p>
    </div>
  </div>
</div>
{% endblock %}
