{% extends "base.html" %}
{% block main %}

<div id="movie-recommend">
  <div id="movie-recommend-title">
  <h2 class="title">Today's Recommend</h2>
  </div>
  
  <div class="columns movie-recommend-list">
        <div class="column is-one-quarter movie-recommend-item">
            <div id="head-happy" class="movie-card-head">
            </div>
        </div>
        <div class="column is-one-quarter movie-recommend-item">
            <div id="head-angry" class="movie-card-head">
            </div>
        </div>
        <div class="column is-one-quarter movie-recommend-item">
            <div id="head-sad" class="movie-card-head">
            </div>
        </div>
        <div class="column is-one-quarter movie-recommend-item">
            <div id="head-move" class="movie-card-head">
            </div>
        </div>
  </div>  
</div>

<div class="feeling">
    <div class="headline">
            <h1>오늘 <b>당신</b>의 기분은 어떠신가요?</h1>
            <h4> <b>아래 버튼</b>을 클릭하시면 당신을 위한 영화를 추천해드릴게요.</h4>
    </div>
</div>

<div class="tabs is-toggle is-fullwidth is-large">
  <ul>
    <li>
      <a href="#movie-list"  onclick="getMovieList('신남')">
        <span class="icon is-small"><i class="far fa-smile aria-hidden="true""></i></span>
        <span>신남</span>
      </a>
    </li>
    <li>
      <a href="#movie-list"  onclick="getMovieList('화남')">
        <span class="icon is-small"><i class="far fa-angry" aria-hidden="true"></i></span>
        <span>화남</span>
      </a>
    </li>
    <li>
      <a href="#movie-list"  onclick="getMovieList('우울')">
        <span class="icon is-small"><i class="far fa-sad-cry" aria-hidden="true"></i></span>
        <span>우울</span>
      </a>
    </li>
    <li>
      <a href="#movie-list"  onclick="getMovieList('떠남')">
        <span class="icon is-small"><i class="far fa-meh" aria-hidden="true"></i></span>
        <span>떠남</span>
      </a>
    </li>
  </ul>
</div>

<div class="columns" id="movie-list" style="display: none;">
</div> 

<!-- custom script -->
    {% block javascript %} 
        <script src="./static/scripts/main.js"></script>    
    {% endblock %}
{% endblock %}