{% extends "base.html" %}
{% block main %}
<div class="field">
  <p class="control has-icons-left has-icons-right">
    <input class="input inputID" type="text" placeholder="Id" />
    <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fas fa-check"></i>
    </span>
  </p>
</div>
<div class="field">
  <p class="control has-icons-left">
    <input class="input inputPassword" type="password" placeholder="Password" />
    <span class="icon is-small is-left">
      <i class="fas fa-lock"></i>
    </span>
  </p>
</div>
<div class="field">
  <p class="control">
    <button class="button is-success" onclick="logIn()">Login</button>
  </p>
</div>
{% block javascript %}
        <script src="./static/scripts/logIn.js"></script>

{% endblock %}
{% endblock %}

