{% extends "base.html" %} {% block main %}

<div id="movie-list-title" class="content">
  <h2>ALL Movies</h2>
</div>

<div
  id="movie-sort-buttons"
  class="content"
  style="display: flex; margin: 0 20px"
>
  <button
    class="level-item button is-outlined"
    style="margin: 0 10px"
    onclick="get_movies_by_score()"
  >
    평점순
  </button>
  <button
    class="level-item button is-outlined"
    style="margin: 0 10px"
    onclick="get_movies_by_abc()"
  >
    가나다순
  </button>
</div>

<div id="movie-list-all" class="content"></div>

<!-- custom script -->
{% block javascript %}
<script src="./static/scripts/movielist.js"></script>
{% endblock %} {% endblock %}
