{% extends "base.html" %} {% block main %}

<div id="movie-list-all" class="content"></div>

<!-- custom script -->
{% block javascript %}
<script>
  $.ajax({
    type: "GET",
    url: "/find/all",
    data: {},
    success: function (response) {
      let movieList = response["movie_list"];
      console.log(movieList);
      for (let i = 0; i < movieList.length; i++) {
        let poster = movieList[i]["img_url"];
        let title = movieList[i]["title"];
        let score = movieList[i]["score"];

        let movie_item = `<div class="column is-2 is-narrow movie-card">
                            <div class="card">
                              <div class="card-image">
                                <a href="/detail" onclick="getMovieInfo('${title}')">
                                  <figure class="image card-mg">
                                    <img src="${poster}" alt="${title}" style="width:160px">
                                  </figure>
                                </a>
                              </div>
                            </div>
                          </div>`;

        $("#movie-list-all").append(movie_item);
      }
    },
  });

  function getMovieInfo(title) {
    localStorage.setItem("title", title);
  }
</script>
{% endblock %} {% endblock %}
